$neat-grid: (
  columns: 12,
  gutter: 20px,
);

#UseExistingDisplayDiv{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 800px;
    height: 770px;
    background-color: #A9E5BB;
    border-radius: 3px;
    justify-content: center;
    text-align: center;
    @include border-style(solid);
  }
  
  #UseExistingDisplayDiv.slideIn {
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
  }
  
  #UseExistingDisplayDiv.slideOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
  }

  .ChoosingClassTableDiv {
    max-height: 500px;
    overflow-y: auto;
    border-collapse: collapse;
    border: 1px solid black;
    padding-bottom: 20px;
  }

  #availableClasses {
    margin-left:auto; 
    margin-right:auto;
    background-color: white;
  }

  #availableClasses th {
    border: 1px solid black;
    padding: 8px;
    align-content: center;
    text-align: center;
  }
  
  #availableClasses tr {
    border: 1px solid black;
    padding: 8px;
    align-content: center;
    text-align: center;
  }
  
  #availableClassTableBody button {
    width: 100%;
    background-color: #042A2B;
  }
  
  #availableClasses td {
    border: 1px solid black;
    padding: 8px;
    align-content: center;
    text-align: center;
  }

  #chooseButtonDiv {
    align-content: center;
  }

  #ChoseButton {
    padding: 20px 200px;
  }

  #availableClasses tr:nth-child(even){background-color: #f2f2f2;}

  #availableClasses tr:hover {background-color: #ddd;}