$neat-grid: (
  columns: 12,
  gutter: 0,
);

#overallClassDiv {
    position: absolute;
    margin: auto;
    top: 10;
    right: 0;
    bottom: 10;
    left: 0;
    width: 1200px;
    height: 700px;
    background-color: white;
    border-radius: 3px;
    justify-content: center;
    text-align: center;
    @include border-style(solid);
}

#classTitleDiv {
    align-content: center;
    text-align: center;
    border-radius: 3px;
    border-style: none none solid none; 
}

#dateAttendanceDiv {
    @include grid-container;
}

#dateInputDiv {
    border-radius: 3px;
    border-style: solid;
    padding-top: 20;
    height: 420px;
    @include grid-column(4);
}

#attendanceByDateDiv {
    border-radius: 3px;
    border-style: solid;
    padding-top: 20;
    height: 420px;
    @include grid-column(8);
}

#dateChosenContainer {
    border-radius: 3px;
    border-style: none none solid none; 
}

#attendanceTableForDays{
    overflow-y: auto;
    height: 350px;
}

#attendanceTable {
    text-align: center;
    align-content: center;
    border: 1px solid black;
    border-collapse: collapse;
}

#attendanceTable td,th{
    border: 1px solid black;
}

#attendanceTable thead {
    background-color: gray;
}

#ClassViewDisplayDiv{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1300px;
    height: 770px;
    background-color: #A9E5BB;
    border-radius: 3px;
    justify-content: center;
    text-align: center;
    @include border-style(solid);
  }
  
  #ClassViewDisplayDiv.slideIn {
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
  }
  
  #ClassViewDisplayDiv.slideOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
  }



